In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/India-District-Zones.csv")
df.head()

                   District                        State        Zone
0            South Andamans  Andaman And Nicobar Islands    Red Zone
1                  Nicobars  Andaman And Nicobar Islands  Green Zone
2  North And Middle Andaman  Andaman And Nicobar Islands  Green Zone
3                   Kurnool               Andhra Pradesh    Red Zone
4                    Guntur               Andhra Pradesh    Red Zone

In [6]:
df_state = pd.read_csv("./data/India-District-Zones-states.csv")

df_state['Red_Zone'], df_state['Orange_Zone'], df_state['Green_Zone'] = 0, 0, 0


for i, state in df_state.iterrows():
    red, orange, green = 0, 0, 0
    for index, row in df.iterrows():
        if row["State"] == state["State"]:
            if row["Zone"] == "Red Zone":
                red +=1                
            elif row["Zone"] == "Orange Zone":
                orange +=1                
            elif row["Zone"] == "Green Zone":
                green +=1
                
    df_state['Red_Zone'].loc[i]= red
    df_state['Orange_Zone'].loc[i] = orange
    df_state['Green_Zone'].loc[i] = green

df_state.to_csv("./data/India-District-Zones-states-wise.csv", index =False)
df_state.head()

C:\Users\mtsuser\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

         State State_code  Red_Zone  Orange_Zone  Green_Zone
0  Maharashtra         MH        14           16           6
1   Tamil Nadu         TN        12           24           1
2        Delhi         DL        11            0           0
3       Kerala         KL         2           10           2
4    Telangana         TG         6           18           9